.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

.idea
coverage
dist
lib
es
ts
node_modules
*.log
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

storybook-static